setuptools>=65.5.0
wheel>=0.38.4
streamlit==1.44.0
pandas==2.2.2
numpy==1.26.4
matplotlib>=3.7.1
seaborn>=0.12.2
plotly>=5.14.1
folium==0.19.5
geopandas==1.0.1
scikit-learn==1.2.2
xgboost==3.0.0
streamlit-folium==0.24.0